<center>
<% content_for :page_title do%>
<h1 id="title">APP name</h1>
<% end %>
<h2> Hello <%= @user_name %> <%= @user_surname %></h2>
<img src="/assets/320.jpg" alt="dog" />
<p>Ruby is a color that is a representation of the color of the cut and polished ruby gemstone. The first written use of ruby as a color name in English was in 1572. The ruby slippers are the magical shoes worn by Dorothy (played by Judy Garland) in the 1939 MGM movie The Wizard of Oz. List of colors.simple.wikipedia.org alan adını arasimple.wikipedia.org/wiki/Ruby_(color)Daha fazla sonuç.Ruby (Color) - Wikipedia, the Free Encyclopedia.Ruby is a color that is a representation of the color of the cut and polished ruby gemstone and is a shade of red or pink. The somewhat deeper color of the uncut, unpolished ruby crystal is called rubelite. The first recorded use of ruby as a color name in English was in 1572.en.wikipedia.org alan adını araen.wikipedia.org/wiki/Ruby_(color).Colors - Colorized Ruby Output - Stack Overflow.Colorize is my favorite gem! :-). Check it out: Https://github.com/fazibear/colorize. Installation: Gem install colorize. Usage: Require 'colorize'.stackoverflow.com alan adını arastackoverflow.com/questions/1489183/colorized-ruby-output.Ruby: The Gemstone Ruby Information and Pictures.However, the color of Thai Rubies are able to be improved by heat treatment. The most valuable Rubies with the finest natural color come from Mogok, Burma (Myanmar).www.minerals.net alan adını araminerals.net/gemstone/ruby_gemstone.aspx.Ruby Color.Color. Ruby derives its name from the Latin word "ruber," meaning red. Hue refers to the ruby's</p>
</center>
