<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Ruby Sprouts</a>
  </div>
  <div class="collapse navbar-collapse">
      <%= render 'layouts/menu' %>
  </div>
  </div>
  </nav>
